<html lang='en'>
<head>
<title>Capybara Detector: About</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta charset='utf-8'>
<link rel='stylesheet' href='../static/style.css'>
</head>
<body>
<div class="all">
	<div class='title titlesample'>Capybara Detector: About</div>
	<div id="head1">
		<div class="headerimgabout" id="headerimgabout"><img class="aboutimage" src="../static/cap-102.jpg" alt="capybara" width="600" /></div>
	</div>
	<div class="introtext introtextabout"><p>
		<div class="aboutsubhead">Why?</div>
		Has this ever happened to you?  You're at the petting zoo and you've just bought a bag of Capybara Chow, but you notice that the picture signs identifying the animals are down for maintenance.
		<br /><br />
		Is that a capybara over there?   Luckily, the Capybara Detector is here to help!
		<div class="aboutsubhead">How?</div>
		The Capybara Detector relies on an AI-driven image-classification model that uses a Convolutional Neural Net for transfer learning.  The model is trained with thousands of images of capybaras and non-capybaras, with the help of Python's PyTorch and FastAI machine-learning libraries.
	</p></div>
	<img class="aboutimage" src="../static/capytalk8.jpg" alt="capybara training image" width="600" />
	<div class="introtext introtextabout"><p>
		More technical details of the training process can be found <a href="https://github.com/Robb-S/capybara-train">at this project's GitHub page</a>.
		<div class="aboutsubhead">Testing with real capybaras</div>
		If you're in Japan and want to test the app with live photos, here are <a href="https://animalcafes.com/news/capy.html">some recommended spots where you can hang out with capybaras</a> (link to article at AnimalCafes.com).
	</p></div>
	<div class="bottombuttons" id="aboutbottombuttons">
		<form id="sform2" action="/" method="get">
			<input class="bigbutton" id="backtomain" type="submit" value="Back to main page">
		</form>
	</div>
</div>

</body>
</html>
